@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*==================== VARIABLES CSS ====================*/
:root{
    /* Colors */
    --background-color: #E8EBF3;
    --btnColor: #134CDE;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: var(--background-color);
    overflow: hidden; 
    font-family: 'Roboto', sans-serif;
}

/* ==================== Nav Bar ==================== */

.navBar{
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*===== Input Color Card =====*/
.inputColorCard{
  width: 150px;
  height: 200px;
  background-color: #fff;
  box-shadow: 1em 1em 1em rgba(0, 0, 0, .25);
  padding: 0;
}
.inputColorCard h1 {
  font-weight: 500; 
  font-size: 2rem;
}

input[type=color]{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  width: 150px;
  height: 135px;
  cursor: pointer;
  margin-bottom: 12px;
}
/*======= Copied from Codepen Lee Martin =========*/
*:focus{
  border-radius: 0;
  outline: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch{
  border: 0;
  border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner{
  border: 0;
}

::-moz-focus-inner{
  padding: 0;
}


/* ===== Schemes Input ===== */
#schemes{
  width: 300px; 
  height: 50px;
  text-align: center;
  font-weight: 900;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: .5em .5em 1em rgba(0, 0, 0, .25);
  border: none;
}
#schemes:hover{
  cursor: pointer;
}

/*===== Generate Button =====*/
.btn{
  width: 115px;
  height: 115px;
  border: none;
  background-color: var(--btnColor);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 50%;
  transition: .4s ease;
}
.btn:hover{
  cursor: pointer;
  transform: scale(105%);
}

/* ============================ Color Pallet ======================== */

.colorPallet{
  height: 70vh;
  display: flex;
}

/* ===== Color Column ===== */
.color{
  width: 25%;
  height: 100%;
  border-right: 1.5px solid;
  border-top: 1.5px solid; 
  display: flex;
  align-items: center;
}
.color:nth-last-child(1){
  border-right: none;
} 


/* ===== Color Card ===== */
.colorCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 350px;
  margin: 0 auto;
  background-color: #fff;
}

.colorWindow{
  width: 200px;
  height: 200px;
  background-color: var(--btnColor);
  align-self: center;
  margin-top: 20px;
  margin-bottom: 30px;
  transition: .4s ease;
}

.colorCardText{
  width: 195px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
}

/* ===== Underline hover animation ===== */

.hexH2{
  margin-bottom: 5px;
  padding-bottom: 3px;
}
.rgbH2{
  padding-bottom: 5px;
}
.underline{
  cursor: pointer;
  position: relative;
}
.underline::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: #134CDE;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out; 
}
.underline:hover::before{
  transform-origin: left;
  transform: scaleX(1); 
}


/* =========================== Media Queries ===========================*/


/* Small screen width */
@media (max-width: 1300px){
  html, body{
    overflow-y: auto;
  }
  .inputColorCard{
    width: 150px;
    height: 200px;
  }
  .colorPallet{
    flex-direction: column;
  }

  .colorWindow{
    display: none;
  }

  .color{
    width: 100%;
    height: 20%;
    position: relative;
    border-top: 1px solid;
    border-right: none;
  }

  .color:nth-child(odd) .colorCard{
    position: absolute;
    left: 0;
  }
  .color:nth-child(even) .colorCard{
    position: absolute;
    right: 0;
  }      

  .colorCard{
    height: 100%;
    width: 175px;
    min-width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .colorCard h2{
    font-size: 16px;  
    font-weight: 500;
    margin: 0 auto;
  }

  .colorCardText{
    width: 100%;
  } 

}

/* Resize the inputColorCard if the screen height is lower than 850px */
@media (max-height: 850px){
  .inputColorCard{
    width: 150px;
    height: 170px;
    margin-bottom: 10px;
  }
  .inputColorCard h1 {
    font-weight: 500;
    font-size: 1.75rem;
  }
  
  input[type=color]{
    width: 150px;
    height: 115px;
    margin-bottom: 10px;
  }
}


/* Smallest screen width */
@media (max-width: 630px) {
  .navBar{
    flex-direction: column;
    justify-content: space-evenly;
  }

  .inputColorCard{
    height: 50px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    position: relative;
    box-shadow: .5em 0.5em 1em rgba(0, 0, 0, .25);
  }

  input[type=color]{
    height: 50px;
    width: 50%;
    position: absolute;
    right: 0;
    margin: 0;
  }

  .inputColorCard h1{
    margin-right: 50%;
    margin-bottom: 3px;
  } 

  #schemes{
    width: 85%;
    height: 50px;
  }

  .btn{
    width: 85%;
    height: 50px;
    border-radius: 90px;
  }
  .btn:hover{
    cursor: pointer;
    transform: none;
  }

  .colorCard{
    width: 25%;
  }
  .colorCardText{
    width: 90%;
    margin: 0 auto;
  }

  .colorCard h2{
    font-size: 11px;
    font-weight: 500;
    margin: 0 auto;
  }
}

